* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial ;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 400px;
  grid-row-gap: 20px;
  gap: 20px;
}

.movie {
  display: block;
  position: relative;
  background-color: rgb(194, 194, 197);
}
.movie__type {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: antiquewhite;
  z-index: 2;
  top: 0;

}

.movie__img {

  width: 100%;
  min-height: 85%;
  max-height: 85%;
  
  object-fit: cover;
}

.movie__type-img {
  width: 80%;

  display: block;
  margin: 2px auto;
  border-radius: 3px;
}

.movie__title {
  width: 100%;
  height: 15%;
  background-color: rgb(194, 194, 197);
 
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.search {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

}

.search__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 70%;

}

.search__group--input {

}

.search__group--select {
 
}



.search__input {
  display: block;
  max-width: 400px;
  width: 100%;
 
}


.search__input--select {
  
  max-width: 200px;

}

.search__lable {
  font-size: 1.2rem;
 
}
